@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import '../utils/variables';

.home-content {
  h1 {
    font-family: $font;
    font-size: 72px;
    font-weight: bold;
    color: $font-content__main;
  }
  p {
    font-family: $font;
    font-size: 24px;
    color: $font-content__main;
  }
}

.form-title,
input {
  font-family: $font;
}
