@import '../utils/mixin';
@import '../base/typography';

.form-button__login {
  @include button;
  width: 100%;
}

.home-btn__login {
  @include button;
}

.form-button__register,
.home-btn__register {
  @include button($bg: false);
}
