.home-wrapper {
  height: auto;
  background-image: url('../../img/home-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .container-fluid {
    height: 55rem;
    padding: 10%;
  }
}
