@import '../utils/mixin';

.container-fluid {
  height: 100%;
  h1 {
    color: rgb(12, 12, 12);
  }
  .form-wrapper {
    @include form-wrapper;
    .form-control {
      @include form-input;
    }
  }
}
