@import '../utils/mixin';
@import '../utils/variables';

.navbar {
  background-color: $navbar-bg;
  padding: 0;
  height: 10px;
  &-brand {
    font-family: $font;
    font-size: 20px;
    font-weight: bolder;
    margin: 0;
  }
  .admin-btn {
    @include button($bg: false);
    background-color: #fff;
    padding: 0;
  }
}
