@import "../utils/variables";
@import "../base/typography";

@mixin form-wrapper {
  width: 400px;
  padding: 20px;
  border: 2px solid black;
  box-shadow: -8px 10px 0px 3px rgba(0, 0, 0, 1);
}

@mixin form-input {
  border: 1px solid black;
  border-radius: 0;
}

@mixin button($bg: true) {
  margin: 2px;
  width: 150px;
  border: none;
  height: 50px;
  font-family: $font;

  @if $bg {
    background-color: $main-button;
    color: $font-button__main;
    &:hover {
      background-color: $main-button__hover;
      font-weight: bold;
    }
  } @else {
    background-color: $secondary-button;
    color: $font-button__secondary;
    &:hover {
      font-weight: bold;
    }
  }
}
