$main-button: #222831;
$main-button__hover: #11698e;
$secondary-button: rgb(221, 221, 221);

$box-shadow: black;

$font: "Share Tech Mono", monospace;
$font-button__main: white;
$font-button__secondary: #222831;
$font-content__main: rgb(29, 29, 29);

$navbar-bg: rgb(255, 255, 255);
