.game-background {
  background-color: rgb(221, 221, 221);
}

.back-btn {
  font-weight: bold;
  font-size: 35pt;
  color: #714c20;
  margin-top: 5px;
  margin-right: 10px;
}

.game-title {
  color: #f9b23e;
  font-weight: bold;
  font-family: Open Sans;
  font-size: 16pt;
  margin-top: 10px;
  margin-left: 10px;
}

.logo {
  width: 70px;
  height: 70px;
}

h2 {
  font-weight: bold;
  font-family: Open Sans;
  color: black;
  font-size: 14pt;
}

img {
  width: 60px;
}

.game-result {
  font-size: 50pt;
  color: #d8d8d8;
  font-weight: bold;
}

.mar-aut {
  margin: auto;
}

.mix {
  background-color: #d8d8d8;
  padding: 5px;
}

/* Dekstop */

@media (min-width: 992px) {
  .game-background {
    background-color: rgb(221, 221, 221);
  }
  .back-btn {
    font-weight: bold;
    font-size: 60px;
    color: #714c20;
    margin-top: 15px;
    margin-right: 10px;
  }
  .game-title {
    color: #f9b23e;
    font-weight: bold;
    font-family: Open Sans;
    font-size: 35pt;
    margin-top: 18px;
    margin-left: 10px;
  }
  .logo {
    margin-top: 10px;
    width: 5.5em;
    height: auto;
  }
  h2 {
    font-weight: bold;
    font-family: Open Sans;
    color: black;
    font-size: 36pt;
  }
  img {
    width: 4.5em;
  }
  .game-result {
    font-size: 7em;
    color: #bd0100;
    font-weight: bold;
    padding: auto;
  }
  .refresh-btn {
    width: 80px;
  }
  .refresh-btn {
    width: 80px;
  }
  .mar-aut {
    margin: auto;
  }
}
